@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Frank Ruhl Libre', serif;
*/

/*html scroll-behavior: smooth; is to make it so that when i click on an anchor link to a specific part of my html page
it scroll smoothly to that part instead of just jumping to that specific place*/

html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}

body{
    margin: 0;
    overflow-x: hidden;
}

a:link, a:visited{
    color: black;
    list-style: none;
    text-decoration: none;
}

header{
    border-bottom: 3px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 300;
}

nav> h2{
    font-weight: 800;
    font-size: 1.5em;
    cursor: default;
}
nav > ul{
    display: flex;
    gap: 2em;
}
nav >ul>a> li{
    transition: 400ms;
}
nav >ul> a>li:hover{
    box-shadow: 0px 3px 0px 0px;
}

/*Section 1*/

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem
}

.section-1 > h2{
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid grey;
    padding: .1em .6em .1em .6em;
}

.intro{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}
.intro > img{
    width: 40%;
    height: auto;
}
.intro> .text {
    font-family: 'Poppins', sans-serif;

}

.intro > .text> h2{
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
}

.intro > .text > span{
    font-size: 2em;
    font-weight: 200;
    
}

/*Section 1*/



/*Section 2*/
.section-2{
    margin-top: 5em;
    display: flex;
    justify-content: center;
}


.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    width: 90%;
}

.biodata, .education, .skill, .hobby{
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 1em;
    border: 1px solid grey;
    font-family: 'Poppins', sans-serif;
    gap: .51em;    
}

.biodata{
    grid-row: span 2;
    justify-content: center;
}

.skill{
    grid-row: span 2;
    justify-content: center;

}


/*Section 2*/

/*Section 3*/
.section-3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;

}
.section-3 > h2{
    font-size: 3em;
    border: 1px solid grey;
}
.carousel > img{
    width: 30%;
    height: auto;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.section-3 > a> button{
    border:  solid 1px black;
    padding: .2em 2em;
    margin-top: 5em;
    background-color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    transition: 300ms;
}

.section-3> a > button:hover{
    box-shadow: .5em .5em;
    transform: translateY(-.5em);
}
.section-3> a > button:active{
    box-shadow: 0em 0em;
    transform: translateY(0em);
}


/*Section 3*/


/*section-4*/
#contact {
    scroll-behavior: smooth;
}

.section-4{
    margin-top: 10em ;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    gap: 3em;
    margin-bottom: 3em;
}

.section-4 > h2{
    border: 1px solid grey;
    padding: .2em 2em;
}

.social{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: fit-content;

}

.social > .box{
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 1.3em;
    color: rgb(110, 110, 110);
    font-weight: 300;
}

/*section-4*/


@media (max-width : 600px) {
    body{
        overflow-x: hidden;
    }
    nav{
        font-size: .8rem;
    }
    .section-1{
        font-size: .8rem ;
    }
    .section-1 > .intro{
        flex-direction: column-reverse;
    }
    .section-1 > .intro > img{
        width: 80%;
        height: auto;
    }
    .info{
        grid-template-columns: repeat(1, 1fr);
    }
}